<!DOCTYPE html>
<html ng-app="hangmanApp">

<head>
  <title>Hangman Game</title>
  <meta charset="utf8" />
  <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/custom.css" />
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/hangman.js"></script>
  <script src="js/app.js"></script>
  <script src="js/HangmanController.js"></script>
</head>

<body class="full-background">
<div class='container' id="container" ng-controller="HangmanController as hangmanController">
  <div id='poor-soul' class='row'>
    <pre class='col-md-6 col-md-offset-3'>
_________
|/      |                               _
|      (_)       __ _ _ __   __ _ _   _| | __ _ _ __
|      \|/      / _` | '_ \ / _` | | | | |/ _` | '__|
|       |      | (_| | | | | (_| | |_| | | (_| | |
|      / \      \__,_|_| |_|\__, |\__,_|_|\__,_|_|
|                           |___/
|___                                        hang-man

    </pre>
    <div class='col-sm-12 col-md-6 col-md-offset-3 text-center'>
      {{hangmanController.hangmanGame.triesRemaining}} tries remaining
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 text-center'>
      <span class="label label-default">SOLVING:</span><br />
      <span>{{hangmanController.hangmanGame.completedWord}}</span>
    </div>
    <div class='col-sm-12 text-center'>
      <span class='wide'></span>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12 text-center'>
      <span class="label label-default">GUESSES:</span> <br />
       <span ng-repeat="guess in hangmanController.hangmanGame.guesses">{{guess}}|</span>
    </div>
    <div class='col-sm-12 text-center' id='guesses'>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12 text-center'>
      <span class="label label-default">INPUT:</span>
    </div>
    <div class="col-sm-12 text-center">
      <input ng-model="hangmanController.hangmanGame.input" ng-change="hangmanController.guessLetter()" ng-disabled="hangmanController.hangmanGame.triesRemaining == 0" class="center-text" type='text' size='1' id='guess' autofocus maxlength="1"/>
    </div>
  </div>
  <div class='row' id='statuses'>
    <div class='col-sm-1 table small-font'>Win status:
      <span class='glyphicon' ng-class="{'glyphicon-ok': hangmanController.hangmanGame.gameWon, 'glyphicon-remove': !hangmanController.hangmanGame.gameWon }"></span>
    </div>
  </div>
</div>
</body>
</html>
